/* .App {
  text-align: center;
  background-color: black;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: black;
  margin: 16px 24px 16px 0;
  float: left;
}

.footer-margin {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.textConatiner {
  font-size: 150px;
  font-weight: 700;
}
